$height: 24px;
$width: 24px;

.time {
  position: absolute;
  color: red;
  width: $width;
  text-align: center;
  top: calc(-$height);
  left: calc(-$width);
  font-size: 12px;
}

.marker {
  position: absolute;
  left: calc(-$width / 2);
  top: calc(-$height / 2);
}
